@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff9f9;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-gradient {
  background: linear-gradient(to right, #4b5563, #1f2937, #000000);
  color: rgb(7, 7, 7);
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.header {
  background: #1f2937;
  color: #ffffff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link:hover {
  color: #38b478;
}

/* topo */
.appbar {
  background: #4b5563;
  color: white;
  padding: 10px 20px;
  border-bottom: 2px solid #4ade80;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.appbar .logo {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
}

.appbar .nav-links {
  margin-left: auto;
  display: flex;
  gap: 20px;
}

.appbar .nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.appbar .nav-links a:hover {
  color: #ffffff;
}

.foto {
 width: 200px;
 margin: 100px 0;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.animate-fade-in {
  animation: fade-in 1s ease-in-out;
}

@keyframes slide-up {
  0% { transform: translateY(20px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.animate-slide-up {
  animation: slide-up 0.5s ease-in-out;
}

.foto {
  transition: transform 0.5s;
}

.foto:hover {
  transform: scale(1.1);
}

.container {
  background-color: #a9a9aa;
  padding: 20px;
}

.centered {
  background-color: rgb(251, 251, 251);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(254, 249, 249, 0.1);
}

header {
  background-color: #fff;
  box-shadow: 0 4px 6px rgb(255, 248, 248);
  padding: 1rem 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  color: #4a5568;
  transition: color 0.3s;
}

header nav a:hover {
  color: #fffefe;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.animate-fade-in {
  animation: fade-in 1s ease-in-out;
}
